doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title KONG
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="../public/css/style.css")
    body
        
        header
            div#title
                <svg class="loading" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="477.29px" height="190px" viewBox="0 0 477.29 120" enable-background="new 0 0 477.29 120" xml:space="preserve">
                    <defs>
                        <pattern id="water" width=".25" height="1.1" patternContentUnits="objectBoundingBox">
                            <path fill="#ffffff" d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z"/>
                        </pattern>
                        <text id="text" transform="matrix(1 0 0 1 -8.0684 116.7852)" font-size="161.047">zoom</text>
                        <mask id="text_mask">
                            <use x="0" y="0" xlink:href="#text" opacity="1" fill="#920de9"/>
                        </mask>
                    </defs>
                    <use x="0" y="0" xlink:href="#text" fill="#920de9"/>
                    <rect class="water-fill" mask="url(#text_mask)" fill="url(#water)" x="-400" y="0" width="1600" height="120"/>
                </svg>
            
        main
            
            
            div#welcome
                form    
                    input#EnterRoom(placeholder="room name", required, type="text")
                    button#EnterBtn Enter room

            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="400")
                    video#peerFace(autoplay,playsinline, width="400", height="400")
                    div#optionContainer
                        button#mute Mute
                        button#camera Turn Camera Off
                        select#cameras
                    div#room
                        h3 
                        ul
                        form#msg
                            input(placeholder ="메시지를 작성하세요.", required, type = "text")
                            button 전송
        script(src="../socket.io/socket.io.js")
        script(src="../public/js/app.js") 
//현재 전에 만들어 놓았던 챗버전 코드를 인용해와서 테스트 중 문제점은 챗 ui랑 방 이름 ui가 출력이 안됨. roomName, addMessage 를 추가했음
        