@font-face {
    font-family : 'fontYouandiModernTR'; 
    src : url('../font/fontYouandiModernTR.ttf') foramt('truetype');
}

* {
    font-family: 'fontYouandiModernTR';
}
:root {
  --color: #920de9!important;
  --color-link : #920de9!important;
  --border-radius : 0px;
}

@import 'https://fonts.googleapis.com/css?family=Oswald';


html, body {
  background: #fff;
  background: linear-gradient(to left, #fff , #fff);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 6px;
  overflow: hidden;
  flex-direction: column;
}

.water-fill {
  animation: wave 0.7s infinite linear, 
             fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}


@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

#optionContainer{
    
    display: flex;
    flex-direction: row;
    justify-content: center; 
    
    
}
#cameras {
    margin-bottom: 0px;
}

#peerFace{
    margin-left: 30px;
}

