body{
    font-family : 'jalnan'; 
    src : url('../font/Jalnan_font.ttf') foramt('truetype');
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    background: lㅗinear-gradient(to right top, #861657, #ffa69e);
    color: transparent;
    -webkit-linear-gradient : text;
}